[submodule "lib/sass/vendor/switch"]
  path = lib/sass/vendor/switch
  url = git://github.com/ajkochanowicz/switch.git
[submodule "lib-docs/sass/vendor/switch"]
  path = lib-docs/sass/vendor/switch
  url = git://github.com/ajkochanowicz/switch.git
[submodule "lib/sass/themes/materialui"]
  path = lib/sass/themes/materialui
  url = git@github.com:ajkochanowicz/materialui.git
[submodule "lib/sass/vendor/sliding-sidebar"]
  path = lib/sass/vendor/sliding-sidebar
  url = git@github.com:ajkochanowicz/sliding-sidebar.git
[submodule "lib/sass/themes/readable"]
  path = lib/sass/themes/readable
  url = git@github.com:ajkochanowicz/readable.git
[submodule "lib/sass/themes/economist"]
  path = lib/sass/themes/economist
  url = git@github.com:ajkochanowicz/economist.git
[submodule "lib/sass/themes/kickstart-default-theme"]
	path = lib/sass/themes/kickstart-default-theme
	url = git@github.com:ajkochanowicz/kickstart-default-theme.git
[submodule "lib/sass/vendor/Kickstart-Browser-Warning"]
	path = lib/sass/vendor/Kickstart-Browser-Warning
	url = git@github.com:ajkochanowicz/Kickstart-Browser-Warning.git
[submodule "lib/sass/vendor/Kickstart-Progress-Bars"]
	path = lib/sass/vendor/Kickstart-Progress-Bars
	url = git@github.com:ajkochanowicz/Kickstart-Progress-Bars.git
[submodule "lib/sass/themes/Kickstart-Central-Park-No-GWT"]
	path = lib/sass/themes/Kickstart-Central-Park-No-GWT
	url = git@github.com:ajkochanowicz/Kickstart-Central-Park-No-GWT.git
