extends layout

block content
  h1 Lab
  .myhoverbox
  p Extensions and themes by Adam Kochanowicz. 
    | Please brush your hair and remember to keep your pants on ALL day.
    | I don't know. Now I'm thinking about a pants-free policy.

  progress
  progress(max="100" value="80")
  progress.red(max="100" value="10")
  progress.yellow(max="100" value="30")

  p
    a.meh(href="#") Do Nothing
    | &nbsp;
    a.go(href="#") Press this button to press it.
    | &nbsp;
    a.red(href="#") Press this button to press it.
    | &nbsp;
    a.orange(href="#") Press this button to press it.
    | &nbsp;
    a.yellow(href="#") Press this button
    | &nbsp;
    a.green(href="#") Press this button
    | &nbsp;
    a.violet(href="#") Press this button

  .menu
    nav
      ul
        li: a(href="#") Item
        li: button.go(role="button" href="#") Item

      ul
        li: button.go(role="button" href="#") Item
        li: a(href="#") Item
