doctype html
block variables
  - var title = "Home"

html(lang='en')
  head
    link(rel="stylesheet" href="/css/style.min.css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
    title My Website - #{title}
  body
    .clip
      section
        main
          main.main
            block content

            p
              a#open-sidebar(href="#") Open Sidebar

          footer.main
            .wrapper
              p Made by <a href="http://twitter.com/everythingdotio">Everything</a>

        aside
          h1 I'm the sidebar
          p
            a#close-sidebar(href="#") Close Sidebar

    script(src="/js/script.min.js")
